body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.body-content { margin-top: 2%; }

.page-title {
    color: darkblue;
    font: normal 2em sans-serif;
    margin: 3% 0 3% 0;
}


.main-body {
    float: left;
    position: relative;
    width: 75%;
}

.buttons-edit-delete {
    list-style: none;
    margin-left: -8%;
}

.buttons-edit-delete li {
    display: inline-block;
    margin-left: 2%;
}


.right-side {
    float: right;
    height: 17em;
    position: relative;
    top: 5.6em;
    width: 23%;
}

.votation p {
    color: darkblue;
    font: normal 1.5em sans-serif;
    margin-top: 15%;
}

footer { clear: both; }

footer h6, #goTop { margin: auto; }